.overlay{
    position: fixed;
    width: 100%;
    height: 1080px;
    color: black;
    top: 0;
    left: 0;
    z-index: 0;
}
.PopUp{
    position: fixed;
    top: 25%;
    left: 38%;
    /* border-radius: 50%; */
    z-index: 1;
    /* overflow: visible !important; */
    /* background-color: white; */
}

#register{
    width: 50%;
    /* background-color: #61B6FF; */
    /* color: white; */
    border: none;
}
#login{
    border: none;
    width: 50%;
    /* background-color:white ; */
    /* color: #61B6FF; */
}