*{ 
    position: relative;
    /* background-color: transparent;   */
    /* overflow: hidden; */
    /* overflow-y:visible; */
}
.Home{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: transparent;
}
h3{
    color: rgba(1, 126, 241, 1);
}
h1{
    font-weight: 700;
    font-size: 96px;
}
.homecontent{
    margin: 26px;
    padding: 10px;
    width: 100%;
    display: flex;
    display: flex;
    background-color: transparent;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    color: transparent;
    width: 100%;
    height: 100%;
}
#BackgroundImg{
    object-fit: fit;
}
#p1,#p2{
    width: 50%;
}

#left{
    flex: 50%;
    background-color: transparent;
}
#right{
    flex: 50%;
    background-color: transparent;
    display: flex;
}
#btn1{
    margin-left: 26px;
    color: #DD8116;
    font-size: 24px;
    padding: 10px;
    background: linear-gradient(278.76deg, #EFBB6A 10.43%, #FFF9D8 106.11%);
    box-shadow: 0px 33px 43px -15px rgba(1, 122, 241, 0.35);
    border-radius: 100px;
    width: calc(25% - 42px + 24px);
    align-content: center;
    border: none;
}
#btn2{
    margin-left: 26px;
    color: white;
    background-color: transparent;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    font-size: 24px;
    width: calc(25% - 42px + 25px);
    align-content: center;
}
.homeBtn{
    flex:75%;
}
#footContent{
    position:absolute;
    bottom: -50px;
}

.box{
    width: 250px;
    height: 225px;
}
.boxContent{
    padding: 25px;
    height: 175px;
    width:  200px;
    border-radius: 15px;
}
.icon-wrapper{
    width: 45px;
    height: 45px;
    border-radius: 7px;
    margin  : 10px;
}
.icon-wrapper > i{
    width: 25px;
    height: 25px;
    margin: 10px;
    background-color: transparent;
}
#box1{
    position: absolute;
    top: 50px;
    left: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(35px);    
    border-radius: 15px;
}
#box2{
    position: absolute;
    top: 157px;
    right: 10px;
    background: rgba(255, 255, 255, 0.67);
    backdrop-filter: blur(35px);
    border-radius: 15px;
}
#box3{
    position: absolute;
    bottom: -28%;
    left: 80px;
    background: rgba(255, 255, 255, 0.67);
    backdrop-filter: blur(35px);
    border-radius: 15px;
}
#i1{
    background-color: #362DF0;
}
#i3{
    background-color: #06B6F6;
}
#i2{
    background-color: rgba(206, 35, 186, 1);

}
.boxContent > p.pnum {
    font-weight: 700;
    font-size: 36px;
    margin: 10px;
}
.boxContent > p.pchar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    margin: 10px;
}
@media screen and (max-width: 1440px) {
 
    .box{
        width: 150px;
        height: 125px;
    }
    #box1{
        top: calc(50px - 25%);
        left: calc(-20px - 25%);
        /* background-color: black; */
    }
    #box2{
        top: calc(157px - 25%);
    }
    #box3{
        bottom: -28%;
        left: calc(80px - 25%);
    }
    h1{ 
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    .boxContent > p.pnum {
        /* font-weight: 700; */
        font-size: 18px;
        /* margin: 10px; */
    }
    .boxContent > p.pchar {
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
        font-size: 13px;
        /* font-weight: 400; */
        /* color: rgba(0, 0, 0, 0.4); */
        /* margin: 10px; */
    }
    .boxContent{
        width: 150px;
        height: 125px;
        padding: 0;
        /* object-fit: cover; */
    }
    .icon-wrapper{
        width: 30px;
        height: 30px;
    }
    .icon-wrapper-wrapper>.icon{
        size: 15px;
        color: white;
    }
}